<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Get the FAKE Out</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Get the FAKE Out</h1>


     <h3 style="color:red"> This is not a Trusted website </h3>
     <p style="font-size:13px">
     <ul>
        <li>Beware of Fradulent news sent via WhatsApp and other social media</li>
        <li>Always verify the news in the respective official sites</li>
        <li>Be a responsible citizen and verify in GetTheFakeOut.com before re-posting fake news!</li>
        <li>Lastly! stay safe and maintain social distancing</li>
    </ul>
     </p>
     <button type="submit" onclick="window.location.href = 'http://127.0.0.1:1000';" class="btn btn-primary btn-block btn-large">Back</button>
 </div>


</body>
</html>
